@import '../../styles/base.scss';

.pageTitle {
  @include py(3);
  @include my(2);

  display: block;
  text-align: center;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

.padding {
  @include p(4);
}