@import '../../styles/base.scss';

.container {
  @include flex(column, $justify: center);
  @include mb(1.5);

  &Row {
    @include media-breakpoint-up (md) {
      flex-direction: row;
    }
  }
}

.inputContainer {
  flex: 1 0 100%;

  .input {
    @include font(input, $color-black);

    &Error {
      border-color: $color-error;
      color: $color-error;

      &:hover {
        border-color: $color-error;
      }

      &:focus {
        border-color: $color-error;
        box-shadow: 0 0 0 2px $color-red-transparent-25;
      }
    }
  }
}

.label {
  @include font(label, $color-gray);
  @include mb(0.5);

  flex: 0 0 100%;
  max-height: 40px;
}

.containerRow {
  .label {
    @include media-breakpoint-up (md) {
      @include flex($align: center, $justify: flex-end);
      @include mb(0);
    }

    flex: 0 0 30%;
    max-width: 200px;
    padding-right: 32px;
    word-break: break-word;
  }

  .inputContainer {
    flex: 1 0 70%;
  }
}

.errorsContainer {
  @include mt(0.5);
  @include font(inputError, $color-error);
}
