@import '../../styles/base.scss';

.wrapper {
  .select {
    @include size(100%);

    font-size: 14px;
    color: $color-black;

    .option {
      font-size: 14px;
      color: $color-black;
    }
  }
}
