@import '../../styles/base.scss';

.pageTitle {
  @include py(3);
  @include my(2);

  display: block;
  text-align: center;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

.section {
  @include p(2);
  @include m(2);

  border: 1px solid silver;

  h3 {
    @include mb(2);

    text-align: center;
  }
}